{% extends 'TopsListGenerator/base.html' %}

{% block content %}

{% if error %}

    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>

{% endif %}


<div class="col-6 mx-auto">

    <h1 class="text-center">Create Group</h1>

    <form method="POST"> 
    {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
            <label for="name">Group Name</label>
            <div id="nameHelp" class="form-text">Provide a name for this group</div>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="playlistlength" name="playlistlength" placeholder="playlistlength" value="50" required>
            <label for="playlistlength">Playlist Length</label>
            <div id="playlistlengthHelp" class="form-text">How long should this Topslist be?</div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="min_date" name="min_date" placeholder="min_date" required>
                    <label for="min_date">Minimum Song Release Date</label>
                    <div id="mindateHelp" class="form-text">What is the earliest a song could have been released?</div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="max_date" name="max_date" placeholder="max_date" required>
                    <label for="max_date">Maximum Song Release Date</label>
                    <div id="maxdateHelp" class="form-text">What is the latest a song could have been released?</div>
                </div>
            </div>     
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password"placeholder="password" required>
            <label for="password">Group Password</label>
            <div id="nameHelp" class="form-text">Choose a secure password</div>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password2" name="password2"placeholder="password" required>
            <label for="password2">Repeat Group Password</label>
            <div id="nameHelp" class="form-text">Ensure passwords match</div>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Create Group</button>
        </div>

    </form>

</div>

{% endblock %}