{% extends 'TopsListGenerator/base.html' %}

{% block content %}

<div class="col-6 mx-auto">

  <h1 class="text-center">Tops Night Generator</h1>



  <ul class="list-group list-group">
      <li class="list-group-item"><b>Step 1:</b> Create an account</li>
      <li class="list-group-item"><b>Step 2:</b> Import your Spotify playlist</li>
      <li class="list-group-item"><b>Step 3:</b> Create group</li>
      <li class="list-group-item"><b>Step 4:</b> Submit imported playlist to group</li>
      <li class="list-group-item"><b>Step 5:</b> Invite <em>friends</em> to join & submit their playlists</li>
      <li class="list-group-item"><b>Step 6:</b> Aggregate group submissions into Topslist!</li>
  </ul>

</div>

{% endblock %}